##############################
# IDE (PhpStorm / IntelliJ)
##############################
public/.idea/
*.iml

##############################
# OS
##############################
.DS_Store
Thumbs.db
desktop.ini

##############################
# PHP / Composer
##############################
#vendor/
composer.lock

##############################
# Cache & logs
##############################
*.log
*.cache
*.tmp

##############################
# Tests / couverture
##############################
coverage/
.phpunit.result.cache

##############################
# Environnements
##############################
.env
.env.local
.env.*.local

##############################
# Autres
##############################
node_modules/
